header {
    padding-block: 32px;
    font: var(--paragraph-md);
    color: var(--text-color-secondary);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    gap: 32px;
}

#profile > div {
    max-width: 384px;
}

#profile img {
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 50%;
}

#profile h1 {
    font: var(--heading);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

header .container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 280px;
}

header .container ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (width <= 25em) {
    #profile {
        display: block;
        margin-bottom: 2rem;

        img {
            width: 7.5rem;
            height: 7.5rem;
        }

        h1 {
            font-size: 1.5rem;
        }
    }

    header .container {
        display: block;
        margin: 2rem;
        padding: 0;
    }

    header {
        padding: 0;
    }

    div.container ul {
        padding-bottom: 2rem;
    }
}